// ----------------------------
// hover action mixin
// ----------------------------

hoverUnderLine(background, bottom = 0)
  position relative
  &::after
    content ""
    position absolute
    bottom bottom
    left 0
    width 100%
    height 1px
    transform scaleX(0)
    background background
    transition all 0.3s ease 0s
    z-index 10000
    if support-for-ie
      .ie9 &
        height 0
  &:hover::after
    transform scaleX(1)

hoverCoverUpDwon(background, second = .3s)
  z-index 2
  &:before,
  &:after
    content ""
    position absolute
    left 0
    height 0
    width 100%
    background background
    transition all second ease 0s
    z-index -1
  &:before
    top 0
  &:after
    bottom 0
  &:hover
    &:before,
    &:after
      height 50%
    if support-for-ios
      .ios &
        &:before,
        &:after
          height 0

hoverCoverLeft(background, second = .3s)
  position relative
  z-index 2
  &:after
    content ""
    position absolute
    top 0
    left -100%
    display block
    width 100%
    height 100%
    background background
    z-index -1
    transition all second ease 0s
  &:hover
    &:after
      left 0

hoverCoverRight(background, second = .3s)
  position relative
  z-index 2
  &:after
    content ""
    position absolute
    top 0
    right -100%
    display block
    width 100%
    height 100%
    background background
    z-index -1
    transition all second ease 0s
  &:hover
    &:after
      right 0

hoverShake()
  transform translateX(0)//for firefox
  &:hover
    animated(shake, .5s)//libs/_animate.styl
  if support-for-ios
    .ios &
      animation-iteration-count 0