// ========
// $Shame
//
//ルール
//・ハックをする場合用いる。
//・どの部分に関連するか記す。
//・どうして必要なのか記す。
//・時間があったらどう直したいか記す。
//・このファイル定期的に白紙へ戻す。
// ========


//時間があったら
//ヘッダーブランドリンク訂正。
//スライダースワイプ可能にする。

//    swipe: {
//      onTouch: true,
//      onMouse: true
//    },