@charset "utf-8"

// ------------------------------------------
// 基本的に編集するのは
// layoutフォルダ内のファイル及び
// 各フォルダの_index.stylとする。
// ------------------------------------------

@import "nib"
//global-reset()
@import "base/_index"
@import "libs/_index"
@import "module/_index"
@import "state/_index"
@import "layout/_index"

//一時ハック用
@import "_shame.styl"