// ------------------------------------------
// image
// ------------------------------------------

.image-cover
  background-repeat no-repeat
  background-size cover
  hide-text(ir-s)

imageLp(imageWidth)
  position relative
  img
    position absolute
    top 0
    left 50%
    margin-left -(imageWidth/2)