// ----------------------------
// youtube iframe (api)
// ----------------------------

//レスポンシブ
youtubeResponsive(width, padding-top = 56.25%)
  position relative
  display block
  width width
  padding-top 56.25%
  iframe
    position absolute
    top 0
    left 0
    width 100%
    height 100%