section.l-contact
  div.layer.layer-red-green.col-vertical-middle
    div
      h2.tle CONTACT
      p.subtle お申込み・お問い合せはこちら。
      p.btn.btn-red.btn-m.hover-shake
        a(href=config.root + 'contact') お問い合わせフォーム