mixin date(date)
  = date.format(config.date_format)

mixin category(categories)
  if categories.length > 0
    - categories.each(function(category){
      a(href=config.root + category.path)
        = category.name
    - })

mixin tag(tags)
  - var i = 0;//separator
  if tags.length > 0
    - tags.each(function(tag){
      - i++;
      a(href=config.root + tag.path)
        = tag.name
      if (i < tags.length)
        span ,
    - })