//-top(index.jade), page(flow.jade)
div.container
  p.m0.
    殊に往来の人々の罪などと云ふものを知らないやうに軽快に歩いてゐるのは不快だつた。<br>
    僕は薄明るい外光に電燈の光のまじつた中をどこまでも北へ歩いて行つた。
  ul.row
    li.col.col-desktop-6.col-tablet-12.flow-list01
      h3.tle-col 1.そのうちに僕の目を捉へたのは
      p.
        雑誌などを積み上げた本屋だつた。<br>
        僕はこの本屋の店へはひり、ぼんやりと何段かの書棚を見上げた。<br>
        それから「希臘神話」と云ふ一冊の本へ目を通すことにした。
    li.col.col-desktop-6.col-tablet-12.flow-list02
      h3.tle-col 2.黄いろい表紙をした「希臘神話」は
      p.
        子供の為に書かれたものらしかつた。けれども偶然僕の読んだ一行は忽ち僕を打ちのめした。<br>
        「一番偉いツオイスの神でも復讐の神にはかなひません。……」<br>
        僕はこの本屋の店を後ろに人ごみの中を歩いて行つた。
    li.col.col-desktop-6.col-tablet-12.flow-list03
      h3.tle-col 3.いつか曲り出した僕の背中に
      p.
        絶えず僕をつけ狙つてゐる復讐の神を感じながら。……<br>
        僕は丸善の二階の書棚にストリントベルグの「伝説」を見つけ、二三頁づつ目を通した。<br>
        それは僕の経験と大差のないことを書いたものだつた。のみならず黄いろい表紙をしてゐた。
    li.col.col-desktop-6.col-tablet-12.flow-list04
      h3.tle-col 4.僕は「伝説」を書棚へ戻し、
      p.
        今度は殆ど手当り次第に厚い本を一冊引きずり出した。<br>
        しかしこの本も挿し画の一枚に僕等人間と変りのない、目鼻のある歯車ばかり並べてゐた。（それは或独逸人の集めた精神病者の画集だつた。）<br>
        僕はいつか憂欝の中に反抗的精神の起るのを感じ、