//-カオスになっているので後で確認


// ----------------------------
// support
// ----------------------------

support-for-ie ?= true//-ie8~
support-for-ios ?= true
support-for-android ?= false//-2.x

// ----------------------------
// Colors
// ----------------------------

color-default = #555
color-background = #fff
color-title = #fff
color-title-hover = #1dd2af
color-table = #3498db
color-meta = #268bd2
color-border = #8d8d8d

color-white = #fff
color-black = #000
color-red = #D05441
color-brown = #D1B182
color-brown2 = #B28750
color-flesh = #F5F3EE
color-gray = #DBDBDB

//link
color-link = #B28750
color-link-hover = darken(color-link, 10)
color-link-active = darken(color-link, 10)

//social
github = #6E685E
feed = #FFB023
twitter = #2F6CD5
google = #EF4894
facebook = #3a5795
hatebu = #00A4DE

// ----------------------------
// fonts
// ----------------------------

font-sans = 'Lucida Grande', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', 'Meiryo', 'メイリオ', 'sans-serif'

font-size = 14px
font-size-sp = 12px
line-height = 1.8

// ----------------------------
// title
// ----------------------------

tle = 38px
tle-sp = 30px
subtle = 18px
subtle-sp = 16px

title-xl = 38px
title-l = 36px
title-m = 30px
title-s = 24px
title-xs = 20px

title-xl-sp = 30px
title-l-sp = 26px
title-m-sp = 20px
title-s-sp = 18px

subtitle-l = 18px
subtitle-m = 16px
subtitle-s = 14px

subtitle-l-sp = 16px
subtitle-m-sp = 15px
subtitle-s-sp = 14px

// ----------------------------
// sidebar
// ----------------------------

sidebar-left = null
sidebar-right = 250px
sidebar-margin = 30px

// ----------------------------
// grid
// ----------------------------

mq-mobile = "screen and (max-width: 480px)"
mq-tablet = "screen and (max-width: 768px)"
mq-normal = "screen and (max-width: 1040px)"

grid-columns ?= 12
grid-gutter-width ?= 40px

container-desktop = 1000px
container-normal = 1000px
container-tablet = 100%
container-mobile = 100%

// ----------------------------
// z-index
// ----------------------------

//ヘッダーナビ トグル
navbar-fixed = 1000

//モーダルウィンドウ
z-index-overlay = 100
z-index-modal-content = 1000

//totop
z-index-totop = 10

// ----------------------------
// navbar
// ----------------------------

navbar-height = 60px
navbar-height-sp = 50px
navbar-margin-bottom = 10px
navbar-padding-horizontal = floor(grid-gutter-width / 2)
navbar-padding-vertical = 0

// ----------------------------
// navbar theme (default)
// ----------------------------

brand-font-family = "Kreon", Consolas, Monaco, Menlo, Consolas, monospace
brand-font-size = 24px
brand-font-size-sp = 20px

navbar-color = color-white
navbar-background = #0C1923
navbar-font-size = 12px

//navbar-toggle
navbar-toggle-background = transparent
navbar-toggle-radius = none
iconbar-background = color-white
iconbar-width = 22px
iconbar-height = 3px
iconbar-padding = 9px
iconbar-margin-top = 3px

// ----------------------------
// section
// ----------------------------

sec-background = color-white

// ----------------------------
// breadcrumb
// ----------------------------

breadcrumb-font-size = 12px
breadcrumb-font-sp = 12px

breadcrumb-item-padding = 15px

breadcrumb-color-link = color-link
breadcrumb-color-hover = darken(color-link, 10)
breadcrumb-color-active = darken(color-link, 10)

// ----------------------------
// column
// ----------------------------

col-font-size = 15px
col-font-size-sp = 13px
col-background = color-white
col-color = color-default

// ----------------------------
// button
// ----------------------------

btn-background = #D05441
btn-border-color = color-white
btn-color = color-white

// ----------------------------
// icon
// ----------------------------

icon-facebook = "\ea8c"
icon-twitter = "\ea91"
icoon-hatebu = "\e603"